
body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.numbers {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 200px;
  margin:20px 30px;
}

button {
  width: 60px;
  border-radius: 5px;
}

.calculator {
  border: 3px solid black;
      width: 431px;
  height: 250px;
}

.display {
  margin:10px;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  
  
}

.operators {
  margin: 30px 20px;
  display:grid;
  grid-template-columns: repeat(2, 60px);
  /* padding: 0 60px; */
  gap:10px;
}

#total {
  background-color:   lightblue;
}


.buttons {
  display:flex;
  /* grid-template-columns: 3fr 1fr; */

}



/* .calculator{
  border: 2px solid #000;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;

  gap: 20px;
  width: fit-content;
  margin: 100px auto;
}

.display{
  grid-column: 1 / -1; 
  
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
}

.numbers{
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
}

.operators{
  display: grid;
  grid-template-columns: 70px;
  gap: 10px;
}

button{
  height: 45px;
}
 */


